.header {
    display: flex;
    justify-content: space-between;
    min-width: 1540px;
    height: 80px;
    align-items: center;
    background-color: #000000;
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.header__logo {
    width: 370px;
    height: 36px;
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
}

.header-nav__search {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    color: #000000;
    font-size: 24px;
}

.header-nav__buttons {
    display: flex;
    justify-content: space-between;
    width: 463px;
    padding: 0 20px;
    font-family: "Inter", serif;
}

.logout-button button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-family: "Inter", serif;
    font-size: 24px;
}

.mypage-link {
    text-decoration: none;
    font-family: "Inter", serif;
    color: #ffffff;
    font-size: 24px;
}

.sellpage-link {
    text-decoration: none;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: "Inter", serif;
    color: #000000;
}

/* mainタイトル*/
.content {
    text-align: center;
}

.content__title {
    margin-top: 80px;
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}

/* ログイン、会員登録画面のフォーム */
.form-area {
    width: 680px;
    margin: 30px auto;
    color: #000000;
    font-size: 24px;
}

.form__label {
    display: block;
    text-align: left;
    font-family: 'Inter';
    font-weight: 700;
}

.form__input {
    width: 680px;
    height: 56px;
    padding-left: 20px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 24px;
}

.form__error-message {
    display: block;
    margin-top: 0;
    text-align: left;
    color: #FF5555;
}

/* ログイン、会員登録、プロフィール設定・編集、出品、送付先住所変更、メール認証画面*/
.form__button {
    display: block;
    width: 680px;
    margin: 50px auto 20px auto;
    padding: 10px 0;
    text-align: center;
    background-color: #FF5555;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 26px;
}

.under-button__link {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;

}


/* レスポンシブデザイン */
@media screen and (max-width: 850px) {
    .header {
        display: block;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header__logo,
    .header-nav__search,
    .header-nav__buttons {
        display: block;
        margin-left: 50px;
    }

    .header__logo,
    .header-nav__search {
        margin-bottom: 30px;
    }

    .header-nav__buttons {
        padding: 0;
    }

    .header-nav__buttons button:last-child {
        margin-left: 10px;
    }
}