/* .login__content {} */

/* .login__form{
    display:flex;
} */
.form-area {
    width: 680px;
    margin: 30px auto;
    color: #000000;
    font-size: 24px;
}

.form__label {
    display: block;
    text-align: left;
}

.form__input {
    width: 680px;
    height: 56px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}