.purchase {
    position: relative;
    font-family: "Inter", sans-serif;
}

.product-info {
    display: grid;
    grid-template-columns: 200px 655px;
    grid-template-rows: 50px 270px;
    margin: 100px 50px 0 80px;
    width: 805px;
    height: 320px;
    border-bottom: 1px solid #000000;
}

.product-img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 177px;
    height: 177px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 177px;
}

.product-name {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 0 20px 50px;
    font-size: 30px;
}

.product-price {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 0 50px;
    font-size: 32px;
    font-weight: bold;
}

.product-price span {
    font-size: 27px;
    font-weight: 400;
}


.payment {
    position: absolute;
    top: 350px;
    left: 0;
    margin: 30px 50px 30px 80px;
    width: 805px;
    height: 180px;
    border-bottom: 1px solid #000000;
}

.address {
    position: absolute;
    top: 550px;
    left: 0;
    display: grid;
    grid-template-columns: 670px 150px;
    grid-template-rows: 80px 140px;
    margin: 30px 50px 30px 80px;
    width: 805px;
    height: 240px;
    border-bottom: 1px solid #000000;
}

.payment__label,
.address__label {
    display: block;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

.payment__method {
    margin: 50px 0 0 120px;
    padding: 5px 0;
    width: 270px;
    border: 1.5px solid #5F5F5F;
    border-radius: 1.5px;
    color: #5F5F5F;
    font-size: 16px
}

.payment__method option {
    padding-left: 15px;
    background-color: #636769;
    color: #EAEAEA;
}

.address-edit__link {
    grid-column: 2/3;
    grid-row: 1/2;
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
}

.address__area {
    grid-row: 2/3;
    margin: 0 0 0 120px;
    font-size: 20px;
    font-weight: 600;
}

.address__area p {
    margin: 0 0 10px 0;
}

.address__area p span {
    margin: 0 5px 0 0;
}

/* エラーメッセージ位置修正 */
.form__error-message {
    margin: 0 0 0 120px;
}

/* 支払方法 */
.sidebar {
    position: absolute;
    top: 0;
    left: 935px;
    width: 500px;
}

.sidebar-form {
    width: 100%;
}

.payment__table {
    margin: 0 auto;
    width: 440px;
    height: 230px;
    border: 1px solid #000000;
    text-align: center;
}

.payment__table--row {
    height: 115px;
}

.payment__table--row:first-child {
    border-bottom: 1px solid #000000;
}

.table__label {
    width: 200px;
    font-size: 20px;
}

.table__data {
    font-size: 28px;
}

.table__data span {
    font-size: 24px;
}

.form__button {
    display: block;
    width: 440px;
    margin: 50px auto;
    padding: 10px 0;
    text-align: center;
    background-color: #FF5555;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
}

/* レスポンシブデザイン */
@media screen and (max-width: 850px) {
    .purchase {
        display: inline-block;
        margin: 70px auto;
        width: 100%;
    }

    .product-info,
    .payment,
    .address,
    .sidebar {
        display: flex;
        margin: 30px auto;
        padding-bottom: 30px;
        width: 700px;
    }

    .product-info,
    .address {
        flex-wrap: wrap;
    }

    .product-info__text {
        width: 400px;
        height: 50px;
    }

    .payment__select {
        margin: 50px 0 0 0;
    }

    .address-edit__link {
        width: 400px;
        padding-right: 50px;
        text-align: right;
        line-height: 70px;
    }

    .sidebar-form {
        margin: 40px auto;
    }
}