.product-img__area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 150px;
    border: 1px dotted #5F5F5F;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.product-img {
    padding: 5px 30px;
    border: 2px solid #FF5655;
    border-radius: 10px;
    color: #FF5655;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.product-info__area {
    display: block;
    width: 680px;
    margin: 0 auto;
}

.info__title {
    display: inline-block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #5F5F5F;
    color: #5F5F5F;
    font-size: 30px;
}

.form__checkboxs {
    display: flex;
    flex-wrap: wrap;
}

.info__input--categories {
    display: none;
}

.info__label--categories {
    display: inline-block;
    margin: 10px 10px;
}

.info__label--categories span {
    padding: 3px 12px;
    border: 2px solid #FF5655;
    border-radius: 200px;
    background-color: #D9D9D900;
    color: #FF5655;
    font-size: 15px;
    font-weight: 500;
}

.info__label--categories input:checked+span {
    background-color: #FF5655;
    color: #ffffff;
}

.info--condition {
    width: 680px;
    height: 45px;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 16px;
}

.info--condition option {
    background-color: #636769;
    border-radius: 5px;
}

.form__textarea {
    width: 680px;
    height: 125px;
    padding: 10px 20px;
    vertical-align: top;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 24px;
}

.price-group {
    position: relative;
    display: inline-block;
}

.yen-symbol {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-55%);
    pointer-events: none;
}

.price-group .form__input {
    padding-left: 40px;
}

.form-area:last-child {
    margin-bottom: 100px;
}