.top {
    min-width: 1540px;
}

.toppage-list {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding-left: 80px;
    border-bottom: 2px solid #5F5F5F;
    font-size: 24px;
    font-weight: 700;
}


.list1,
.list2 {
    display: inline-block;
    width: 155px;
    margin: auto 30px;
    text-align: center;
}

.list1 {
    color: #5F5F5F;
}

.list2 {
    color: #5F5F5F;
}

/* 商品表示 */
.item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 50px;
    width: 1013px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    color: #000000;
}

.item-img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 281px;
    background-color: #D9D9D9;
    border-radius: 4px;
    text-decoration: none;
}

.item-name {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
}